apache
<FilesMatch "\.m3u8$">
    ForceType application/vnd.apple.mpegurl
    Header set Content-Type "application/vnd.apple.mpegurl"
    Header set Access-Control-Allow-Origin "*"
</FilesMatch>

<FilesMatch "\.m3u$">
    ForceType audio/mpegurl  
    Header set Content-Type "audio/mpegurl"
    Header set Access-Control-Allow-Origin "*"
</FilesMatch>
