name: Sync private epg2-Vision.xml to docs folder

on:
  schedule:
    - cron:  "15 17,23,06 * * *"
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Create docs folder
        run: mkdir -p docs

     # - name: Download guide.xml from web
        # run: |
       #   curl -L "https://raw.githubusercontent.com/ewinz19/ZXdpbno-E_pg/refs/heads/main/epg2-Vision.xml?token= " -o docs/indonesia.xml

      - name: export timezone
        
        run: echo "TZ=Asia/Makassar" >> $GITHUB_ENV


      - name: Download guide.xml from private repo
        run: |
           curl -H "Authorization: token ${{ secrets.PAT_TOKEN }}" \
           -H "Accept: application/vnd.github.v3.raw" \
           -L \
             https://api.github.com/repos/ewinz19/ZXdpbno-E_pg/contents/epg2-Vision.xml \
             -o docs/epg2-Vision.xml




      - name: Commit changes if updated
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add docs/epg2-Vision.xml
          git diff-index --quiet HEAD || git commit -m "Update indonesia.xml"

      - name: set remote
        run: |
          git remote set-url origin https://x-access-token:${{ secrets.PAT_TOKEN }}@github.com/ewinz19/xtskltshdt.git
      - name: Pull latest changes
        run: |
          git pull origin main --rebase || true

      - name: Push changes
        run: |
          git push origin main
