name: Sync indonesia.xml to docs folder

on:
  schedule:
    - cron: "*/30 * * * *"
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Create docs folder
        run: mkdir -p docs

      - name: Download guide.xml from web
        run: |
          curl -L "https://raw.githubusercontent.com/kemalsyabaniadama/test-epg/main/guide.xml" -o docs/indonesia.xml

      - name: Commit changes if updated
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add docs/indonesia.xml
          git diff-index --quiet HEAD || git commit -m "Update indonesia.xml in docs"

      - name: Push changes
        uses: ad-m/github-push-action@v0.6.0
        with:
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
          branch: main


    
      
